.env
.env.*
!.env.example
*.pem
*.key

node_modules
dist
coverage
*.tsbuildinfo

test
**/*.spec.ts
jest.config.js
.eslintrc.js
.prettierrc

.git
.gitignore
.github
.vscode
.idea

docs
README.md
Dockerfile
.dockerignore
npm-debug.log*
